html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

.wrap {
    background-color: #34495e;
    padding-top: 20px;
}

.header {
    background-color: #c0392b;
    margin: auto;
    width: 1050px;
    height: 50px;
    color: white;
    text-indent: 8px;
}

.menu {
    background-color: #3498db;
    margin-top: 20px;
    height: 50px;
    color: white;
    text-indent: 440px;
}

.promo {
    margin: 20px auto;
    color: white;
    width: 1050px;
    background-color: #34495e;
    text-indent: 8px;
}

.promo1 {
    background-color: #c0392b;
    width: 470px;
    height: 200px;
    float: left;
}

.promo2 {
    background-color: #c0392b;
    width: 470px;
    height: 200px;
    float: right;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.wrap-main {
    background-color: white;
    padding-bottom: 20px;
}
.wrap-container {
    width: 1050px;
    margin: auto;
    color: white;
    margin-top: 20px;
    text-indent: 8px;
}

.colum {
    background-color: #3498db;
    float: left;
    height: 300px;
    width: 400px;
    margin-right: 24px;
}

.colum_lr {
    background-color: #3498db;
    float: left;
    height: 300px;
    width: 300px;
    margin-right: 24px;
}

.colum_lr:last-child {
    margin-right: 0px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    background-color: #34495e;
    height: 50px;
    color: white;
    text-indent: 440px;
}