html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.wrap {
    background-color: #34495e;
    /* background-color: #34495e; */
    /* height: 350px; */
}

.header {
    background-color: #c0392b;
    margin: 20px auto;
    width: 1050px;
    height: 50px;
    color: white;
}

.menu {
    background-color: #3498db;
    height: 50px;
    color: white;
}

.promo {
    margin: 20px auto;
    color: white;
    width: 1050px;
    background-color: aqua;
}

.promo1 {
    background-color: #c0392b;
    width: 470px;
    height: 200px;
    float: left;
}

.promo2 {
    background-color: #c0392b;
    width: 470px;
    height: 200px;
    float: right;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.wrap-main {
<<<<<<< HEAD
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 20px 10px;
}

.colum {
    background-color: #3498db;
    float: left;
    height: 300px;
    width: 625px;
=======
    background-color: gray;
    margin: auto;
    width: 1050px;
}

.left {
    background-color: #3498db;
    float: left;
    height: 300px;
    width: 300px;
    margin: auto;
}
.main {
    background-color: #3498db;
    float: left;
    height: 300px;
    width: 300px;
>>>>>>> 768f8ed2d3788550b2c6d321b8c871b26662e8a7
    margin-right: 20px;
}

.wrap-main:last-child(3) {
    margin-right: 0px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}