.wrap {
    /* background-color: #34495e; */
    /* height: 350px; */
}

.header {
    background-color: #c0392b;
    margin: 20px auto;
    width: 1050px;
    height: 50px;
    color: white;
}

.menu {
    background-color: #3498db;
    height: 50px;
    color: white;
}

.promo {
    margin: 20px auto;
    color: white;
    width: 1050px;
    background-color: aqua;
}

.promo1 {
    background-color: #c0392b;
    width: 470px;
    height: 200px;
    float: left;
}

.promo2 {
    background-color: #c0392b;
    width: 470px;
    height: 200px;
    float: right;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.wrap-main {
    background-color: gray;
    margin: auto;
    width: 1050px;
}

.left {
    background-color: #3498db;
    float: left;
    height: 300px;
    width: 300px;
    margin: auto;
}
.main {
    background-color: #3498db;
    float: left;
    height: 300px;
    width: 300px;
    margin-right: 20px;
}

.right {
    background-color: #3498db;
    float: left;
    height: 300px;
    width: 300px;
}

.wrap-main::after {
    content: "";
    display: table;
    clear: both;
}