header {
    background: lightgreen;
}

footer {
    background: lightgreen;
}

.menu {
    float: left;
    background: #E8D9A9;
    width: 10%;
    height: auto;
    padding-left: 1%;
}
        
.main {
    background: #ECC0A4;
    margin-left: 11%;
    height: auto;
    width: auto;
    min-height: 100%;
}        

.text {
    padding-left: 20px;
    padding-bottom: 5px;
    height: auto;
    width: auto;
}
        
h3 {
    margin: 0;
}
/*Пробую работать с :after и :before*/
h3:after {
    content: " *";
}

code {
    background: white;
}

.table {
  display: table;
  background-color: #d9edf7;
  border-color: #3a87ad;
  margin: 5px;
  padding: 5px;
  border: 1px dotted white;
}

.row {
  display: table-row;
  background-color: #f2dede;
  border-color: #b94a48;
}

.cell {
  background-color: #fbeed5;
  border-color: #c09853;
  display: table-cell;
  margin: 5px;
  padding: 5px;
  border: 1px dotted white;
}

.attention {
    border: 1px solid red;
    display: inline-table;
    margin: 0px;
    list-style-type: none;
    padding: 5px;
}

